@import "tailwindcss";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray.css";
@import "./theme.css";
@import "./utilities.css";
@import "./editor.css";

body {
  font-family: Manrope, sans-serif;
  color: rgb(28, 25, 23);
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
