@utility container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= theme(--breakpoint-sm)) {
    padding-left: calc((100vw + 16px - 640px) / 2);
    padding-right: calc((100vw + 16px - 640px) / 2);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding-left: calc((100vw + 16px - 768px) / 2);
    padding-right: calc((100vw + 16px - 768px) / 2);
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: calc((100vw + 16px - 1024px) / 2);
    padding-right: calc((100vw + 16px - 1024px) / 2);
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-left: calc((100vw + 16px - 1280px) / 2);
    padding-right: calc((100vw + 16px - 1280px) / 2);
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-left: calc((100vw + 16px - 1536px) / 2);
    padding-right: calc((100vw + 16px - 1536px) / 2);
  }
}

@custom-variant mobile (@media (max-width: 767px));

@utility text-caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0em;
}

@utility text-caption-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0em;
}

@utility text-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}

@utility text-body-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0em;
}

@utility text-heading-3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0em;
}

@utility text-heading-2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0em;
}

@utility text-heading-1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0em;
}

@utility text-monospace-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}

@utility font-caption {
  font-family: Manrope, sans-serif;
}

@utility font-caption-bold {
  font-family: Manrope, sans-serif;
}

@utility font-body {
  font-family: Manrope, sans-serif;
}

@utility font-body-bold {
  font-family: Manrope, sans-serif;
}

@utility font-heading-3 {
  font-family: Newsreader, serif;
}

@utility font-heading-2 {
  font-family: Newsreader, serif;
}

@utility font-heading-1 {
  font-family: Newsreader, serif;
}

@utility font-monospace-body {
  font-family: monospace;
}
